.carroussel {
	//display: flex;
	//align-items: center;
	width: 100%;
	display: flex;

	&__button {
		cursor: pointer;
		position: absolute;
		top: 35%;
		transform: scale(0.8);
	}
	&__container {
		height: $carroussel-height;
		width: 100%;
		&__picture {
			display: none;
			&__active {
				object-fit: cover;
				width: 100%;
				height: 100%;
				border-radius: 25px;
			}
		}
	}
}
#next {
	right: $carroussel-arrows-margin;
}

#prev {
	left: $carroussel-arrows-margin;
}
