.description {
	display: flex;
	flex-direction: column;
	width: 100%;
	&__summary {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		// &__left {
		// }
		&__host {
			display: flex;
			justify-content: space-between;
			align-items: center;

			// &__name {
			// 	&__first {
			// 	}
			// 	&__family {
			// 	}
			// }

			&__profilePic {
				height: $profilePicDiameter;
				width: $profilePicDiameter;
				border-radius: $profilePicDiameter;
				margin-left: 10px;
			}
		}
	}

	&__data {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 15px;
		&__tags {
			display: flex;
			flex-direction: row;
			&__tag {
				width: auto;
				margin: 10px 15px 10px 0px;
				height: 25px;
				padding-left: 37px;
				padding-right: 37px;
				font-weight: 500;
				font-size: 14px;
				display: flex;
				align-items: center;
				border-radius: 10px;
			}
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		.dropdown {
			width: 48%;
			&__title {
				font-weight: 500;
				font-size: 18px;
			}

			&__pannel {
				font-weight: 400;
				font-size: 18px;
				line-height: 142.6%;
			}
		}
	}
}
