.description {
	display: flex;
	flex-direction: column;
	width: 100%;
	&__summary {
		display: flex;
		justify-content: space-between;
		&__left {
		}
		&__host {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&__name {
				&__first {
				}
				&__family {
				}
			}

			&__profilePic {
				height: $profilePicDiameter;
				width: $profilePicDiameter;
				border-radius: $profilePicDiameter;
			}
		}
	}

	&__data {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&__tags {
			display: flex;
			flex-direction: row;
			&__tag {
				width: auto;
				margin: 10px 15px 10px 0px;
				height: 25px;
				padding-left: 37px;
				padding-right: 37px;
				font-weight: 500;
				font-size: 14px;
				display: flex;
				align-items: center;
				border-radius: 10px;
			}
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		.dropdown {
			width: 48%;
		}
	}
}
