.error {
	//margin-top: -50px;
	@include prim-on-sec;
	&__h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 288px;
		line-height: 142.6%;
		margin: 0;
		//position: relative;
		//top: 50%;
		//bottom: 50%;

		// /* or 411px */
	}

	&__p {
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 142.6%;
		text-align: center;
	}

	&__link {
		text-decoration: underline;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 142.6%;
	}
}
