.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: $header-height;
	margin: $body-top $body-sides 0px $body-sides;

	// &__logo {
	// }

	&__nav {
		&__ul {
			display: flex;
			//pour li, voir dans index.scss
		}
	}
	//pour Link, voir dans index.scss
}

.active {
	text-decoration: underline;
}
