@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-Regular.ttf') format('truetype');
	// url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

@import './variables';
@import './mixins';
@import './home.scss';
@import './header';
@import './footer.scss';
@import './error.scss';
@import './landingPic.scss';
@import './about.scss';
@import './dropdown.scss'; // body {
// 	//display: flex;
// 	width: 100%;
// 	height: 100%;
// }
body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	//padding: $body-top 0 $body-bottom 0;
}
.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	//border: 1px solid green;
}

.container {
	//border: 1px solid orange;
	//position: absolute;
	//position: relative;
	//top: $header-height + $body-top;
	//bottom: $footer-height;
	//margin: 0px $body-sides 0px $body-sides;
	margin-left: $body-sides;
	margin-right: $body-sides;
	//left: 0;
	//right: 0;
	height: 100%;
	flex-direction: column;
	display: flex;
	align-items: center;
}

#root {
	font-family: 'Montserrat', sans-serif;
	//display: flex;
	// width: 100%;
	height: 100%;
	//border: 1px solid red;
	position: absolute;
	width: 100%;
}

// div {
// 	//border: 1px solid black;
// 	//@include prim-on-sec;
// }

li {
	list-style-type: none;
	margin: 5px;
}
ul {
	padding: 0;
}

a {
	color: $colour-primary;
	text-decoration: none;
}
// body {
// 	//background-color: red;
// 	//margin: 0;
// }
