@mixin prim-on-sec {
	color: $colour-primary;
	background-color: $colour-secondary;
}

.prim-on-sec {
	@include prim-on-sec();
}

@mixin sec-on-prim {
	color: $colour-secondary;
	background-color: $colour-primary;
}

.sec-on-prim {
	@include sec-on-prim();
}

@mixin prim-on-sec {
	color: $colour-primary;
	background-color: $colour-secondary;
}

@mixin prim-on-grey {
	color: $colour-primary;
	background-color: $background-grey;
}

.white-on-black {
	color: white;
	background-color: black;
}
