// Colors
$colour-primary: #ff6060;
$colour-secondary: white;

//heights
$header-height: 68px;
$footer-height: 150px;
$landingPic-height: 180px;

//margins and paddings
$body-top: 30px;
$body-sides: 100px;
$body-bottom: 0px;

$landing-pic-bootom-margin: 30px;

//radii
$landingPic-radius: 25px;
